<div class="page-header">
  <%= link_to appointments_path, class: 'btn btn-default' do %>
    All Appointments
  <% end %>
  <%= link_to edit_appointment_path(@appointment), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show appointment</h1>
</div>

<dl class="dl-horizontal">
  <dt>Appointment datetime:</dt>
  <dd><%= @appointment.appointment_datetime %></dd>

  <dt>Doctor:</dt>
  <dd><%= @appointment.doctor %></dd>

  <dt>Patient:</dt>
  <dd><%= @appointment.patient %></dd>

</dl>
